
gyakorlas2/cmake-build-debug/Testing/Temporary/LastTest.log
gyakorlas2/cmake-build-debug/gyakorlas2.exe
gyakorlas2/cmake-build-debug/CMakeFiles/TargetDirectories.txt
gyakorlas2/cmake-build-debug/CMakeFiles/rules.ninja
gyakorlas2/cmake-build-debug/CMakeFiles/gyakorlas2.dir/main.c.obj
gyakorlas2/cmake-build-debug/CMakeFiles/CMakeOutput.log
gyakorlas2/cmake-build-debug/CMakeFiles/cmake.check_cache
gyakorlas2/cmake-build-debug/CMakeFiles/clion-log.txt
gyakorlas2/cmake-build-debug/CMakeFiles/clion-environment.txt
gyakorlas2/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
gyakorlas2/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/a.exe
gyakorlas2/cmake-build-debug/CMakeFiles/3.23.2/CMakeSystem.cmake
gyakorlas2/cmake-build-debug/CMakeFiles/3.23.2/CMakeRCCompiler.cmake
gyakorlas2/cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_C.bin
gyakorlas2/cmake-build-debug/CMakeFiles/3.23.2/CMakeCCompiler.cmake
gyakorlas2/cmake-build-debug/CMakeCache.txt
gyakorlas2/cmake-build-debug/cmake_install.cmake
gyakorlas2/cmake-build-debug/build.ninja
gyakorlas2/cmake-build-debug/.ninja_log
gyakorlas2/cmake-build-debug/.ninja_deps
gyakorlas2/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-388b56f14df5d90b49df.json
gyakorlas2/cmake-build-debug/.cmake/api/v1/reply/target-gyakorlas2-Debug-7bae4a736c6b1d6c87e9.json
gyakorlas2/cmake-build-debug/.cmake/api/v1/reply/index-2022-10-17T19-35-01-0074.json
gyakorlas2/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
gyakorlas2/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-f447ae31ae8de60f7e6a.json
gyakorlas2/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-a67d350e484e24c5704e.json
gyakorlas2/cmake-build-debug/.cmake/api/v1/reply/cache-v2-e337447b95512760030f.json
gyakorlas2/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
gyakorlas2/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
gyakorlas2/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
gyakorlas2/cmake-build-debug/.cmake/api/v1/query/cache-v2
